
@{
    ViewBag.Title = "404 " + MultiLanguage.Resource.EP_PAGE_NOT_FOUND;
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div class="error-page">
    <div class="error-page-type">
        <h1>Oops!</h1>
        <h2>404 - @MultiLanguage.Resource.EP_THIS_PAGE_HAVE_BEEN_REMOVED</h2>
    </div>
    <a href="/">@MultiLanguage.Resource.EP_GO_BACK</a>
</div>

